/* Reset and base styles  */
@import url("https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

:root {
  --dark-green: #364a46;
  --light-green: #67a98c;
  --white: #fff;
  --black: #000;
  --beige: rgba(54, 74, 70, 0.2);
  --grey: rgba(54, 74, 70, 0.7);
  --red: #D50000;
  --second-font: "HandilPro";
}

@font-face {
  font-family: "HandilPro";
  src: url("/fonts/HandilProMedium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}
body {
  font-family: "Saira", sans-serif;
  overflow-x: hidden;
}

.container {
  max-width: 1134px;
  padding: 0 15px;
  margin: 0 auto;
}

.hidden {
  display: none;
}

.title {
  font-family: "HandilPro", "Saira", sans-serif;
  font-weight: 500;
  font-size: 42px;
  line-height: 148%;
  text-transform: uppercase;
  color: #000;
  text-align: left;
}

.btn {
  min-width: 132px;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--light-green);
  font-weight: 700;
  font-size: 12px;
  line-height: 117%;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}

.header {
  background-color: var(--dark-green);
  text-align: center;
}

.header__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 53px 0;
}
.header__row * {
  color: white;
}

.header__row-phone {
  font-size: 18px;
}

.header__row-btn {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 117%;
  background-color: var(--light-green);
}
.header__row-btn button {
  padding: 10px 20px;
}

.hero {
  color: var(--white);
}

.hero__block {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 30;
  background: var(--dark-green);
  padding: 14px 0;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% calc(100% - 120px), calc(100% - 530px) calc(100% - 120px), calc(100% - 620px) 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% calc(100% - 120px), calc(100% - 530px) calc(100% - 120px), calc(100% - 620px) 100%, 0 100%);
}

.hero__header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 13px;
  padding: 14px 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1104px 102px;
  background-image: url(../../img/hero-vector.svg);
}
.hero__header p {
  align-self: end;
}

.hero__img {
  z-index: 20;
  width: 100%;
  position: relative;
  aspect-ratio: 2/1;
  max-height: 100vh;
  overflow: hidden;
  margin-top: -120px;
}

.img-cover {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-position: center;
  object-position: center;
  -o-object-fit: cover;
  object-fit: cover;
}
.img-cover .rellax {
  height: 120%;
}

.hero-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 10px;
}
.hero-container h1 {
  font-weight: 500;
  font-size: 67px;
  color: #fff;
  margin: 0 0 57px -5px;
}

.solutions {
  padding-top: 132px;
  font-family: var(--second-font), sans-serif;
}

.solutions__header {
  margin-bottom: 103px;
  color: var(--dark-green);
}
.solutions__header h2 {
  font-weight: 500;
  font-size: 42px;
  line-height: 119%;
  text-transform: uppercase;
  margin-bottom: 25px;
}
.solutions__header p {
  font-weight: 500;
  font-size: 22px;
  line-height: 227%;
  text-transform: uppercase;
}

.solutions__header-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.solutions__map {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.img-contain {
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center;
  width: 100%;
  max-height: 100%;
  height: auto;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center;
}

.moreProject {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 80px;
  padding-bottom: 96px;
}
.moreProject .btn-grey {
  min-width: 186px;
  margin-right: 5px;
}

.moreProject__container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.moreProject__header {
  width: 100%;
  height: 101px;
  margin-top: 141px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-position: right;
  background-repeat: no-repeat;
  background-size: 1104px 102px;
  background-image: url(../../img/moreProject-vector.svg);
}

.moreProject__place {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin-left: auto;
  margin-right: 245px;
}
.moreProject__place span {
  font-weight: 300;
  font-size: 130px;
  text-transform: uppercase;
  color: #000;
  margin-top: -60px;
}
.moreProject__place p {
  font-weight: 500;
  font-size: 14px;
  line-height: 157%;
  text-transform: uppercase;
  color: #000;
  font-family: var(--second-font);
  max-width: 262px;
  padding-bottom: 48px;
  margin-left: 24px;
}

.moreProject__level {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: auto;
  padding-top: 15px;
}

.moreProject__items {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  margin-top: 35px;
}

.moreProject__item {
  width: 33.333333%;
  display: grid;
  grid-template-columns: 40px 1fr;
  gap: 32px;
  align-items: center;
  padding: 25px 20px 25px 0;
  border-bottom: 1px solid #b3b6c0;
  transition-duration: 0.8s !important;
}
.moreProject__item span {
  font-weight: 700;
  font-size: 12px;
  line-height: 150%;
  text-transform: uppercase;
}

.contact {
  margin-bottom: 132px;
}
.contact .title {
  line-height: 119%;
  margin-bottom: 29px;
}

.contact__wrapper {
  display: flex;
  justify-content: space-between;
}

.contact__info span {
  font-weight: 700;
  font-size: 17px;
  line-height: 176%;
  text-transform: uppercase;
  color: #2d2e2f;
}

.contact__info-links {
  display: grid;
}
.contact__info-links a {
  font-weight: 700;
  font-size: 27px;
  line-height: 111%;
  text-transform: uppercase;
  color: var(--black);
}

.form {
  width: 100%;
  max-width: 460px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
  margin-bottom: auto;
}

.input {
  width: 100%;
  position: relative;
  margin-bottom: 52px;
}
.input input {
  width: 100%;
  height: 48px;
  padding: 9px 0;
  font-weight: 500;
  font-size: 10px;
  line-height: 214%;
  text-transform: uppercase;
  color: #000;
  outline: 0;
  border: none;
  border-bottom: 1px solid #000;
}
.input span {
  height: -moz-fit-content;
  height: fit-content;
  font-weight: 700;
  font-size: 10px;
  line-height: 180%;
  text-transform: uppercase;
  color: #000;
  pointer-events: none;
  transition: 0.2s;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto 0;
  font-family: var(--second-family);
  transform-origin: left;
  background: 0 0;
}

.trust {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding: 132px 0;
}
.trust .title {
  margin-bottom: 76px;
}

.footer__contact {
  width: 100%;
  position: relative;
  background: rgba(179, 182, 192, 0.34);
}
.footer__contact .container {
  padding-top: 40px;
  padding-bottom: 132px;
}

.footer__contact-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
}

.footer__contact-form {
  width: 100%;
  max-width: 541px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 70px 0;
}
.footer__contact-form .input span {
  font-size: 26px;
  background: 0 0;
}

.footer {
  padding: 37px 0;
  background-color: var(--dark-green);
}
.footer a {
  color: var(--white);
  text-transform: uppercase;
}

.footer__top {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.footer__tel {
  font-weight: 500;
  font-size: 10px;
  text-transform: uppercase;
  color: #fff;
  margin-right: 186px;
  margin-left: 300px;
}

.footer__list {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 7px;
  margin-right: auto;
}

.footer__bottom {
  margin-top: 72px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  font-weight: 500;
  font-size: 10px;
  line-height: 125%;
  text-transform: uppercase;
  color: #b3b6c0;
  font-family: var(--second-family);
}

.rent {
  padding: 96px 0 132px;
}

.rent__header {
  text-align: center;
  font-family: "HandilPro";
  margin-bottom: 138px;
}
.rent__header .title {
  text-align: center;
}
.rent__header p {
  font-weight: 500;
  font-size: 22px;
  line-height: 227%;
  text-transform: uppercase;
  color: #000;
}

.rent__stats {
  display: flex;
  justify-content: end;
  gap: 88px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;
}

.rent__img {
  margin-bottom: 108px;
}

.rent__stat {
  display: flex;
  gap: 25px;
  align-items: center;
}
.rent__stat .first {
  background: var(--beige);
}
.rent__stat .second {
  background: var(--grey);
}
.rent__stat .third {
  border: 1px solid var(--red);
}

.rent__stat-qube {
  height: 30px;
  width: 30px;
}

.additionally {
  padding-bottom: 132px;
}

.additionally__list {
  width: 100%;
  max-width: 940px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  margin-left: auto;
  gap: 74px;
}

.additionally__item {
  width: 100%;
  position: relative;
  text-align: left;
  padding-left: 102px;
  font-weight: 700;
  font-size: 24px;
  line-height: 125%;
  text-transform: uppercase;
  color: #000;
  transform: translate(0, 0) !important;
  opacity: 1 !important;
}
.additionally__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  margin: auto 0;
  width: 39px;
  height: 23px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../../img/additionally-arrow.svg);
}

.additionally__title {
  margin-bottom: 67px;
}

.advantages {
  padding-bottom: 132px;
}

.advantages__list {
  width: 100%;
  max-width: 940px;
  display: grid;
  grid-template-columns: 2fr 2fr;
  align-items: stretch;
  gap: 46px 135px;
  margin-left: auto;
}

.advantages__item {
  width: 100%;
  -webkit-text-emphasis: left;
  text-emphasis: left;
  font-weight: 700;
  font-size: 12px;
  line-height: 150%;
  text-transform: uppercase;
  color: #000;
  padding: 7px 18px;
  border-left: 1px solid #000;
}

.advantages__title {
  margin-bottom: 73px;
}

.plan__schema {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.plan__actions {
  display: inline-block;
}
.plan__actions .btn {
  background-color: transparent;
  color: var(--dark-green);
  border: 1px solid var(--dark-green);
  font-weight: 700;
  font-size: 12px;
  line-height: 117%;
  text-transform: uppercase;
  text-align: center;
}
.plan__actions .btn:first-of-type {
  margin-bottom: 12px;
}

.point {
  position: absolute;
}

.point__circle {
  width: 1.53vw;
  height: 1.53vw;
  position: relative;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 45;
  background-color: var(--black);
}

.point:nth-of-type(1) {
  left: 50.46875%;
  top: 22.8373702422%;
}

.point:nth-of-type(2) {
  left: 35%;
  top: 66.0899653979%;
}

.point:nth-of-type(3) {
  left: 56.09375%;
  top: 44.4636678201%;
}

.point:nth-of-type(4) {
  left: 66.171875%;
  top: 64.3598615917%;
}

.point:nth-of-type(5) {
  left: 76.40625%;
  top: 35.8131487889%;
}

.products {
  color: white;
}

.products__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 42px;
}

.swiper-products {
  width: 100%;
  position: relative;
  padding: 0 15px;
  max-width: 1134px;
  overflow: visible;
}

.products__arrows {
  display: flex;
  gap: 29px;
}
.products__arrows button {
  height: 50px;
  width: 50px;
}
.products__arrows img {
  cursor: pointer;
}

#arrowLeft, #arrowRight {
  background-color: var(--dark-green);
  border-radius: 50%;
}

.product__img {
  width: 100%;
  position: relative;
  overflow: hidden;
  max-height: calc(85vh - 190px);
}

.relative {
  width: 100%;
  position: relative;
}

.product__block {
  position: absolute;
  left: 0;
  bottom: 100%;
  background-color: var(--dark-green);
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  padding: 28px 140px 14px 22px;
  gap: 12px;
  -webkit-clip-path: polygon(0 0, calc(100% - 130px) 0, 100% 100%, 0 100%);
          clip-path: polygon(0 0, calc(100% - 130px) 0, 100% 100%, 0 100%);
  transform: translateY(100%);
  transition: 0.8s;
  z-index: 10;
  color: var(--white);
}
.product__block p, .product__block span {
  font-weight: 500;
  font-size: 15px;
  line-height: 137%;
  color: #fff;
}
.product__block span {
  text-transform: uppercase;
}

.product__info {
  position: relative;
  flex: 1 1 auto;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  background: var(--dark-green);
  padding: 15px 22px;
  z-index: 20;
}
.product__info .product__text {
  width: 100%;
  font-weight: 700;
  font-size: 10px;
  line-height: 157%;
  text-align: right;
  color: #fff;
  padding-bottom: 9px;
  border-bottom: 1px solid #fff;
  margin-bottom: 10px;
  transition: 0.4s;
  opacity: 0;
  visibility: hidden;
}
.product__info .product__name {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product__info .product__name span {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  cursor: pointer;
  z-index: 45;
}

.project {
  width: 100%;
  padding: 62px 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  background: var(--dark-green);
}

.project__container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-wrap: wrap;
}

.project__info {
  width: 100%;
  max-width: 280px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.project__info > span {
  font-weight: 500;
  font-size: 10px;
  line-height: 143%;
  text-transform: uppercase;
  color: #fff;
  font-family: var(--second-font);
  margin-bottom: 30px;
}

.project__logo {
  width: 149px;
  height: 32px;
}

.project__logo use {
  fill: #fff;
}

.project__box {
  width: 100%;
  max-width: 282px;
  margin-left: auto;
  margin-right: 315px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.project__box > span {
  width: 100%;
  font-weight: 500;
  font-size: 10px;
  line-height: 214%;
  text-transform: uppercase;
  color: #fff;
  border-bottom: 1px solid #fff;
}

.project__items {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 26px;
  gap: 20px;
}

.project__item {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 3px;
}

.project__item > span {
  font-weight: 500;
  font-size: 24px;
  line-height: 125%;
  text-transform: uppercase;
  color: #fff;
}

.project__item > p {
  font-weight: 500;
  font-size: 10px;
  line-height: 250%;
  text-transform: uppercase;
  color: #fff;
}

.project__content {
  width: 100%;
  margin-top: 27px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.swiper-text {
  position: relative;
  width: 347px;
  margin: 0;
}

.swiper-text .arrows {
  position: absolute;
  top: 0;
  left: 24px;
}

.swiper-text .arrows path {
  stroke: #fff;
}

.swiper-text .swiper-slide {
  text-align: left;
  font-weight: 700;
  font-size: 24px;
  line-height: 125%;
  text-transform: uppercase;
  color: #fff;
  padding: 0 24px 0 20px;
}

.swiper-text .swiper-slide.swiper-slide-visible > p {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.swiper-text .swiper-slide > p {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.swiper-img {
  width: calc(100% - 347px);
  max-width: calc(1174px + (100vw - 1174px) / 2 - 347px);
  position: relative;
  margin: 0;
}

.swiper-img .swiper-slide {
  aspect-ratio: 1.666/1.08;
  max-height: 85vh;
  position: relative;
  overflow: hidden;
}/*# sourceMappingURL=main.css.map */