.project {
	width: 100%;
	padding: 62px 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	background: var(--dark-green);
}

.project__container {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.project__info {
	width: 100%;
	max-width: 280px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

.project__info > span {
	font-weight: 500;
	font-size: 10px;
	line-height: 143%;
	text-transform: uppercase;
	color: #fff;
	font-family: var(--second-font);
	margin-bottom: 30px;
}

.project__logo {
	width: 149px;
	height: 32px;
}

.project__logo use {
	fill: #fff;
}

.project__box {
	width: 100%;
	max-width: 282px;
	margin-left: auto;
	margin-right: 315px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

.project__box > span {
	width: 100%;
	font-weight: 500;
	font-size: 10px;
	line-height: 214%;
	text-transform: uppercase;
	color: #fff;
	border-bottom: 1px solid #fff;
}

.project__items {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	padding-top: 26px;
	gap: 20px;
}

.project__item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	gap: 3px;
}

.project__item > span {
	font-weight: 500;
	font-size: 24px;
	line-height: 125%;
	text-transform: uppercase;
	color: #fff;
}

.project__item > p {
	font-weight: 500;
	font-size: 10px;
	line-height: 250%;
	text-transform: uppercase;
	color: #fff;
}

.project__content {
	width: 100%;
	margin-top: 27px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
}

.swiper-text {
	position: relative;
	width: 347px;
	margin: 0;
}

.swiper-text .arrows {
	position: absolute;
	top: 0;
	left: 24px;
}

.swiper-text .arrows path {
	stroke: #fff;
}

.swiper-text .swiper-slide {
	text-align: left;
	font-weight: 700;
	font-size: 24px;
	line-height: 125%;
	text-transform: uppercase;
	color: #fff;
	padding: 0 24px 0 20px;
}

.swiper-text .swiper-slide.swiper-slide-visible > p {
	opacity: 1;
	visibility: visible;
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
}

.swiper-text .swiper-slide > p {
	opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.swiper-img {
	width: calc(100% - 347px);
	max-width: calc(1174px + (100vw - 1174px) / 2 - 347px);
	position: relative;
	margin: 0;
}

.swiper-img .swiper-slide {
	aspect-ratio: 1.666/1.08;
	max-height: 85vh;
	position: relative;
	overflow: hidden;
}
