@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap');


@font-face {
    font-family: 'HandilPro';
    src: url('/fonts/HandilProMedium.otf') format('opentype');
    font-weight: 500; 
    font-style: normal;
}
body {
    font-family: 'Saira', sans-serif;
    overflow-x: hidden;
}

.container {
    max-width: 1134px;
    padding: 0 15px;
    margin: 0 auto;
}
.hidden {
    display: none;
}
.title {
    font-family: 'HandilPro', 'Saira', sans-serif;

    font-weight: 500;
    font-size: 42px;
    line-height: 148%;
    text-transform: uppercase;
    color: #000;
    text-align: left;
}
.btn {
    min-width: 132px;
    padding: 10px 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: var(--light-green);
    font-weight: 700;
    font-size: 12px;
    line-height: 117%;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
}